<div id="credentials" class="tab" style="display:none;">
    <div class="w3-padding">
        <div class="w3-third w3-border" style="width:33%; height:85vh; padding:3px; overflow:scroll;">
            <%for(let credential of credentials) {%>
                <a onclick="showDiv('<%=credential.referent%>', 'credentialsClass')">
                    <div class="w3-bar w3-btn w3-white w3-border" style="width:100%;">
                        <img class="w3-bar-item" width="50" height="70" src="<%=srcId%>"></img>
                        <h4 class="w3-bar-item" style="text-align: center;color: white;"><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></h4>
                    </div>
                </a>
                <br>
            <%}%>
        </div>
        <%for(let credential of credentials) {%>
            <div id="<%=credential.referent%>" class="w3-padding credentialsClass" style="float:left;width:67%;">
                <div class="w3-border w3-container" style="margin-left:10px;">
                    <div class="w3-cell-middle" style="display: block;margin-top:40px;">
                        <img width="320" height="320" src="<%=srcId%>" />
                        <!-- <svg width="320" height="320" data-jdenticon-value="<%=credential.cred_def_id%>"></svg> -->
                    </div>
                    <div class="w3-cell" style="display: block;margin: auto;">
                        <h1><%=credential.schema_id.split(':')[2]%> <%=credential.schema_id.split(':')[3]%></h1>
                        <%for(let attr of Object.keys(credential.attrs).sort()) {%>
                        <h4 style="text-align: ceter"><%=attr%>: <%=credential.attrs[attr]%></h4>
                        <%}%>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <!--<button onclick="document.getElementById('sendCredModel').style.display='block'" class="w3-btn w3-white w3-border">Start</button>-->
</div>